<%= form_for template, :url => templates_path do |f| %>
  <header>
  <h1>Your Template <small>Just click recipes from the list to add them to your template.</small></h1>
    <input type='submit' name="next_step" value="Finish">
    <!--<input type='submit' name='next_step' value="Configure">-->
  </header>

  <%= render "recipes/list", :id => 'selected_recipes' %> 
<% end %>

<section id='recipe_picker'>
  <nav id='recipe_filters'>
    <input type='text' id='name_filter' placeholder='Filter by name...'/>

    <%= link_to "all", "#", "data-filter" => "*" %>
    <% RailsWizard::Recipes.categories.each do |category| %>
      <%= link_to category.gsub('_',' '), "#", :class => category, "data-filter" => "[data-category=#{category}]" %>
    <% end %>
  </nav>
  
  <%= render "recipes/list", :recipes => RailsWizard::Recipes.list_classes, :id => 'unused_recipes' %>

</section>

<ul id='help_text'>
  <% for recipe in RailsWizard::Recipes.list_classes %>
  <li class='<%= recipe.category %>' id='help_<%= recipe.key %>'><%= recipe.description %></li>
  <% end %>
</ul>

