<header>
  <h1>Locked and Loaded!</h1>
</header>

<section id='command_wrapper' class='breakout_box'>
  <h1>Template Generator Script <small>Run this command where you want to generate your Rails application.</small></h1>
  <div id='rails_command'>rails new <span id='app_name'>APP_NAME</span> -m <%= link_to compile_url(template), compile_url(template) %> <%= template.command_line_options %></div>

  <div id='directory_picker'>
    <%= label_tag 'app_directory_field', 'Directory Name:' %>
    <%= label_tag 'app_directory_field', 'Pick the directory in which you want to place your app (affects command only).', :class => 'help'  %>
    <%= text_field_tag :app_directory, 'APP_NAME', :id => 'app_directory_field', :class => 'mono' %>
  </div>
</section>

<section class='breakout_box'>
  <h1>Recipes in this Template</h1>
  <%= render "recipes/list", :recipes => template.recipes, :id => 'saved_recipes' %>
</section>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $('#app_directory_field').focus().keyup(function() {
      val = $(this).val();
      if (val == '') val = "APP_NAME";
      $('#app_name').html(val);
      return true;
    });
  });
</script>
