  <li class='<%= recipe.category %>' data-name="<%= recipe.name.downcase %>" data-category='<%= recipe.category %>'>
    <%= hidden_field_tag "rails_template[recipes][]", recipe.key %>
    <b><%= recipe.name %></b>
  </li>
