<!DOCTYPE html>
<html>
<head>
  <title>RailsWizard</title>
  <%= generate_toc(@toc) %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <%= include_javascripts :app %>
  <%= include_stylesheets :app %>
  <%= csrf_meta_tag %>
  <%= content_for :head %>
  <script src="http://yandex.st/highlightjs/5.16/highlight.min.js"></script>
  <link rel="stylesheet" href="http://yandex.st/highlightjs/5.16/styles/ir_black.min.css">
  <script type="text/javascript" charset="utf-8">
  hljs.tabReplace = '  ';
  hljs.initHighlightingOnLoad();
  </script>
</head>
<body>
  <%= render "layouts/flash", :flash => flash %>
  <header id='top'>
    <section>
      <h1><%= link_to image_tag('/images/logo.png', :alt => 'RailsWizard'), '/' %></h1>
      <nav>
        <ul>
          <li><%= link_to 'Template Directory', templates_path, :class => 'button' %></li>
          <li><%= link_to 'About', 'http://github.com/intridea/rails_wizard/wiki', :target => '_github', :class => 'button' %></li>
          <!--<li><%= link_to 'Recipes', recipes_path %></li>-->
        </ul>
      </nav>
      <aside id='user_bar'>
        <%= link_to image_tag("/images/intridea.png", :alt => "built by Intridea"), 'http://www.intridea.com/', :target => '_blank' %>
        <% if signed_in? %>
          <div id='signed_in'>
          <%= link_to user_path(current_user), :class => ('admin' if current_user.admin?) do %>
            <b><%= current_user.name %></b>
          <% end %>
          
          <%= link_to 'Submit a Recipe', new_recipe_path %>
          <%= link_to 'Sign Out', sign_out_path %>
          </div>
        <% else %>
          <%= link_to image_tag("/images/github.png") + "Sign in with GitHub", '/auth/github', :id => 'sign_in', :rel => 'nofollow' %>
        <% end %>
      </aside>
    </section>
  </header>
  
  <div id='wrapper'>
    <%= yield :before_content %>
    <section id="content">
      <header>
        <h1><%= @page_title || "Create a Rails Application Template" %></h1>
        <%= yield :after_page_title %>
      </header>
