<!DOCTYPE html>
<html>
<head>
  <title>RailsWizard - Simple Rails Templates courtesy of Intridea</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <%= include_javascripts :app %>
  <%= include_stylesheets :app %>
  <%= csrf_meta_tag %>
  <%= content_for :head %>
  <script src="http://yandex.st/highlightjs/5.16/highlight.min.js"></script>
  <link rel="stylesheet" href="http://yandex.st/highlightjs/5.16/styles/ir_black.min.css">
  <script type="text/javascript" charset="utf-8">
  hljs.tabReplace = '  ';
  hljs.initHighlightingOnLoad();
  </script>
<body>
  <%= render "layouts/flash", :flash => flash %>
  <header id='top'>
    <%= link_to image_tag('/images/intridea.png', :alt => 'built by Intridea'), 'http://intridea.com', :target => '_blank', :id => 'intridea' %>
    <h1><%= link_to 'RailsWizard', '/' %></h1>
    <nav>
      <ul>
        <li><%= link_to "About", "https://github.com/intridea/rails_wizard" %></li>
        <li><%= link_to "Feedback", "https://github.com/intridea/rails_wizard/issues" %></li>
      </ul>
    </nav>   
  </header>
  
  <div id='wrapper'>
    <section id="content">
      <%= yield %>
    </section>
  </div>

  <footer id='bottom'>
    Copyright &copy; 2010-2011 Intridea Inc. Licensed under the MIT License.
    <%= link_to 'Code', 'https://github.com/intridea/rails_wizard', :target => '_github' %>
    <%= link_to 'Blog', 'http://blog.railswizard.org', :target => '_github' %>
    <%= link_to 'Twitter', 'http://twitter.com/railswizard' %>
    <%= link_to 'Feedback', 'http://github.com/intridea/rails_wizard/issues', :target => '_github' %>
  </footer>
</body>
</html>

